*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
   

}

.sidebar{
    background-color: rgb(202, 202, 202);
   width: 177px;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
padding: 61px;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
padding: 33px 0px;
}

.sidebar nav li a{
    text-decoration: none;
    color: rgb(17, 14, 14);
}
.main{
   
    width: 90vw;
    height: 100vh;
}
.container{
    display: flex;
}
.info{
   
    height: 32vh;
    width: 84vw;
    margin: 143px auto;
    padding: 64px;
    display: flex;
    justify-content: space-around;
}

.devPic img{
    height: 40vh;
    position: absolute;
    top: 156px;
    left: 1208px;
}

.devInfo{
    display: flex;
   justify-content: center;
    flex-direction: column;
}

.Hello{
font-size: 55px;
}
.name{
    font-size: 50px;
    font-weight: bold;
}
.about{
    font-size: 32px;
    margin: 23px;
    position: relative;
    left: -26px;
}
.buttons{
    margin: -16px;
}
.buttons button{
    margin: 39px 14px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: rgb(21, 21, 59);
    font-size: 21px;
    border-color: rgb(21, 21, 59);
}
.buttons button:hover{
background-color: white;
color: rgb(21, 21, 59);
}

.contactform{
    font-family: Arial, Helvetica, sans-serif;
  
    padding:130px 300px 500px 200px;
}
.contactform h1{
    font-family:  Arial, Helvetica, sans-serif ;
  padding: 12px 0;

}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
   
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#emailHelp{
    font-size: 10px;
    color: rgb(13, 13, 81);
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
  flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
.btn-btn-primary{
width: 60px;
margin: 8px;
border-radius: 15px;
color: white;
background-color: rgb(21, 21, 59);
height: 30px;

}
.btn-btn-primary:hover{
    width: 60px;
    margin: 8px;
    border-radius: 15px;
    border-color: rgb(21, 21, 59);
    color: rgb(21, 21, 59);
    background-color: white;
    height: 30px;
    
    }
    h1{
        margin: 23px;

    }
    .intro h2{
        margin: 0 12px;
    }
    .intro p{
        margin: 12px;
    }
    .skillcontainer{
        padding: 12px;
    }
    .skill{
        width: 253px;
        height: 6px;
        background-color: red;
    }
    .skillItems{
        display: flex;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
    }

    .hundred{
        width: 265px;
        background-color: blue;
    }
    .fifty{
        width: 125px;
        background-color: aqua;
    }
    .t5{
        width: 75px;
        background-color: yellow;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        top: 10px;
        left: 10px;
    }
    .cross{
        margin-left: 88px;
    }

    @media (max-width:900px) {
        .sidebar{
            transform: translate(-443px, 0px);
            position: absolute;
        }
    }
    footer{
        position: absolute;
        width: 100%;
        background:rgb(21, 21, 59); 
        min-height: 39px;
        padding: 20px 50px;
        display: flex;
        bottom: 0;
        justify-content: center;
        align-items: center;
    }
    footer .social_icon{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    footer .social_icon li{
        list-style: none;
    }
    footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    }
    footer .social_icon li a:hover{
        transform: translateY(-10px);
    }
    #edu .container{
        flex-direction: column;
        text-align: center;
        max-width: 1500px;
        margin:  50px auto;
        padding: 80px 0;
        }
        #edu .title{
            font-size: 3rem;
            font-weight: 300;
            margin-bottom: 27px;
            text-align: center;
            position: relative;
            top: -78px;
        }
        #edu .top{
            font-size: 21px;
            margin-top: 5px;
           
            font-weight: 100;
        }
        #edu .edu-bottom{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
        }
        #edu .edu-bottom.items{
            flex-basis: 80%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding: 30px;
            border-radius: 10px;
           background-image: url(https://newsbreak.ng/wp-content/uploads/2021/10/Woman-4.jpg);
            background-size: cover;
            margin: 10px 5%;
        
        }
        #edu .edu-bottom.items::after{
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: .4;
        }